@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Tourney:ital,wght@1,200&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero_section {
  display: flex;
  justify-content: space-between;
}

.header,
.pic {
  width: 50%;
  height: 100vh;
}

.pic {
  background-color: wheat;
}

.header {
  background-color: whitesmoke;
}

.hero {
  margin-top: 10%;
  margin-left: 10%;
  width: 80%;
  height: 80vh;
}

.logo {
  position: absolute;
  font-size: 20px;
  left: 3%;
  color: rgb(196, 157, 85);
  font-weight: 900;
  font-family: "Tourney", cursive;
}

.logo_text {
  text-transform: uppercase;
  font-size: 1.3em;
}

.info_section {
  position: absolute;
  top: 30%;
  left: 3%;
  font-family: "Roboto Mono", monospace;
}

.heading {
  margin: 0;
  font-size: 5em;
  text-transform: uppercase;
}

.heading span {
  letter-spacing: 25px;
}

.intro {
  margin: 0;
  font-size: 18px;
  color: rgb(196, 157, 85);
  font-weight: bolder;
  letter-spacing: 3.5px;
  text-transform: capitalize;
}

.button {
  margin-top: 20px;
}

.about_me {
  padding: 15px 40px;
  border: none;
  border-radius: 5px;
  background-color: rgb(196, 157, 85);
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 10px 10px 21px -1px rgba(0, 0, 0, 0.75);
}

.hire_me {
  padding: 15px 40px;
  border: none;
  border-radius: 5px;
  color: black;
  background-color: white;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 10px 10px 21px -1px rgba(0, 0, 0, 0.5);
  margin-left: 10px;
}
